.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #0085A1;
  background-color: #fff;
  border: 1px solid #dee2e6;
}
.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #0085A1;
  border-color: #0085A1;
}
body{
  font-family: 'Nanum Gothic', 'Open Sans', 'Helvetica Nene', Helvetica, Arial;
}
.btn-sm {
	padding: .375rem .75rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 0;
}
.btn-outline-primary {
    color: #0085a1;
    border-color: #0085a1;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #0085a1;
  border-color: #0085a1;
}
.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.page-item:last-child .page-link {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.form-control:disabled, .form-control[readonly] {
	background-color:transparent;
	opacity: 1;
    margin-top: 10;
    margin-bottom: 10;
}
.floating-label-form-group {
    font-size: 1rem;
    position: relative;
    margin-bottom: 0;
    padding: .5em;
    border-bottom: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6;
}
.control-group.comment-list .form-group {
    font-weight: 400;
    padding-left: .725rem;
    margin-bottom: 0;
}
span.comment-date {
	color: #999;
    font-size: .7rem;
    vertical-align: middle;
}
span.comment-writer {
	font-size: 1.1rem;
	font-weight: bold;
}
.comment {
	font-size: 1rem;
	margin-top: 10px;
	margin-bottom: 2.5px;
    margin-left: -5px;
}
.control-group.comment-list {
 	margin-bottom: 1rem;
}
.container.comment-list {
	padding-left: 0;
}
.commentButton span {
	font-size: .8rem;
	margin: .25rem;
	cursor: pointer;
}
.commentButton {
	margin-left: .25rem;
}
.modal {
	font-size: 1rem;
}
a[name=modifyCommentBtn], a[name=cancelModifyBtn] {
	font-size: .8rem;
	margin: .25rem;
	cursor: pointer;
}
#modifyForm, #registerForm {
	margin-top: 2rem;
	margin-bottom: 3rem;
}
#modifyForm label, #registerForm label {
	font-size: 1rem;
	padding-right: 0;
	text-align: left;
    padding-left: 2rem;
}
#modifyForm input, #registerForm input {
	font-size: 1rem;
	border-radius: 0;
}
#modifyForm textarea, #registerForm textarea {
	border-radius: 0;
}
#modifyForm .control-group, #registerForm .control-group {
	margin-bottom: 2rem;
}
textarea {
	resize: none;
}
.help-block {
	font-size: 1rem;
	margin: 0;
}
.help-block ul {
	margin: 0;
}
.commentForm {
	margin-top: 3rem;
}
.invalid-feedback {
    font-size: .8rem;
    margin-left: .2rem
 }
.btn-primary {
    background-color: #0085a1;
    border-color: #0085a1;
}
.alert {
	font-size: .8rem;
}
.small, small {
	font-size: 70%;
}
.text-primary {
	color: #0085a1!important;
}
label {
	color: #495057;
}
.scroll-to-top {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: none;
    width: 2.75rem;
    height: 2.75rem;
    text-align: center;
    color: #fff;
    background: rgba(90,92,105,.5);
    line-height: 46px;
}
.post-preview>.post-meta {
	margin-top: 10px;
}
.post-preview>a>.post-title {
	font-size: 120%;
	font-weight: 600;
}
.post-preview>a>.post-content {
	font-size: 90%;
	word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-height: 160%;
    -webkit-box-orient: vertical;
}
.post-heading {
	margin-bottom: 20px;
}
.post-heading>span {
	font-size: 80%;
}
.error {
	color: #5a5c69;
    font-size: 7rem;
    position: relative;
    line-height: 1;
    width: 12.5rem;
}
.text-gray-800 {
    color: #5a5c69!important;
}
.repeat-password-feedback, .password-feedback {
 	font-size: .8rem;
    margin-left: .2rem;
    margin-top: .25rem;
    color: #dc3545;
    display: none;
}
#duplicateNicname, #duplicateEmail {
	display: none;
}
p {
	font-size : 1rem;
}
.pagination {
	margin-top: 3rem;
}
.modal-sm {
	max-width: 310px;
}