<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.mapper.MemberMapper">

	<resultMap type="com.blog.vo.MemberVO" id="memberMap">
		<result property="email" column="email"/>
		<result property="password" column="password"/>
		<result property="nickname" column="nickname"/>
		<collection property="authList" resultMap="authMap">
		</collection>
	</resultMap>
	
	<resultMap type="com.blog.vo.AuthVO" id="authMap">
		<result property="email" column="email"/>
		<result property="auth" column="auth"/>
	</resultMap>
	
	<select id="checkUser" resultMap="memberMap">
		SELECT member.email, password, nickname, auth
		  FROM tbl_member member 
		LEFT OUTER JOIN tbl_member_auth auth
		    ON member.email = auth.email
		 WHERE member.email = #{email} 
	</select>
	
	<select id="forgotPassword">
		SELECT member.email
		  FROM tbl_member member 
		LEFT OUTER JOIN tbl_member_auth auth
		    ON member.email = auth.email
		 WHERE member.email = #{email} 
	</select>
	
	<insert id="join">
		INSERT INTO tbl_member (email, password, nickname)
		VALUES (#{email}, #{password}, #{nickname})
    </insert>
	
	<insert id="addAuth">
		INSERT INTO tbl_member_auth (email, auth)
		VALUES (#{email}, #{auth})
    </insert>
	
	<insert id="addToken">
		INSERT INTO resetpw_token (token, email)
		VALUES (#{token}, #{email})
    </insert>
	
	<delete id="deleteToken">
		DELETE resetpw_token WHERE token = #{token}
	</delete>
	   
    <select id="checkToken" resultType="int">
    	SELECT COUNT(token)
		  FROM resetpw_token
		 WHERE token = #{token}
		   AND email = #{email}
    </select>
	   
	<update id="resetPassword">
		UPDATE tbl_member
		SET password = #{password}, updatedate = sysdate 
		WHERE email = #{email}
	</update>
	   
    <select id="checkNickname" resultType="int">
    	SELECT COUNT(nickname)
		  FROM tbl_member
		 WHERE nickname = #{nickname}
    </select>
    
    <select id="checkEmail" resultType="int">
    	SELECT COUNT(email)
		  FROM tbl_member
		 WHERE email = #{email}
    </select>
</mapper>