<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.mapper.PostMapper">

  <select id="getList" resultType="com.blog.vo.PostVO">
	<![CDATA[
		SELECT /*+INDEX_DESC(blog blog_pno_pk) */
			   pno, title,  regexp_substr(content,'[^('||chr(13)||chr(10)||')]+',1,1) as content, writer, regDate
		  FROM tbl_blog 
		 WHERE 1 = 1
	]]>
  </select>

  <select id="getListWithPage" resultType="com.blog.vo.PostVO">
	<![CDATA[
		SELECT 
			   pno, title,  content, writer, blog.regDate, mem.nickname as writerNickname
		  FROM ( 
		  		SELECT /*+INDEX_DESC(blog blog_pno_pk) */
			           rownum as rn, pno, title,  regexp_substr(content,'[^('||chr(13)||chr(10)||')]+',1,1) as content, 
			           writer, regDate
			      FROM tbl_blog blog
			     WHERE rownum <= #{page} * #{countPerPage}
			    ) blog
	INNER JOIN tbl_member mem
	        ON blog.writer = mem.email	    
		 WHERE rn > (#{page} - 1) * #{countPerPage}
	]]>
  </select>
  
  <select id="getTotal" resultType="int">
	SELECT count(*)
	  FROM tbl_blog
  </select>

  <select id="get" resultType="com.blog.vo.PostVO">
	SELECT pno, title, content, writer, blog.regDate, mem.nickname as writerNickname 
	  FROM tbl_blog blog
INNER JOIN tbl_member mem
        ON blog.writer = mem.email    
	 WHERE pno = #{pno}
  </select>
  
  <insert id="insert">
	INSERT INTO tbl_blog (pno, title, content, writer)
	VALUES (seq_blog.nextval, #{title}, #{content}, #{writer})
  </insert>

  <delete id="delete">
	DELETE tbl_blog WHERE pno = #{pno}
  </delete>

  <update id="update">
	UPDATE tbl_blog
	   SET title = #{title},
		   content = #{content},
		   updateDate = sysdate
	 WHERE pno = #{pno}
  </update>
  
</mapper>